.container {
  padding: 18px;
  background-color: #f4f9fd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.typography-header {
  text-align: center;
  font-size: 20px;
  color: #0271df;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-control {
  margin-top: 16px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  color: #0271df;
}

.text-field {
  margin-bottom: 35px;
  width: 100%;
}

.search-button {
  background-color: #0271df;
  color: white;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.search-button:hover {
  background-color: #005bb5;
}

.result {
  margin-top: 16px;
  color: #0271df;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;

  min-height: 20vh; 
  max-height: 80vh; 
  overflow-y: auto; 
}

  min-height: 20vh; /* Altura mínima relativa al viewport */
  max-height: 80vh; /* Altura máxima para prevenir que crezca demasiado */
  overflow-y: auto; /* Habilita scroll si el contenido excede */
}



