/* Importa la fuente Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* Estilos de la página */
body {
  background-color: #f2f2f2;
  background: linear-gradient(rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0.541)),
              url('/src/resources/imagenNueva.jpg') center / cover no-repeat;
  font-family: 'Wonderful Branding', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 6rem;
  color: #0f0025; /* Un color más atractivo, ajusta según el diseño */
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.wrap {
  width: 40%;
  position: relative;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 20px; /* Espacio entre los elementos */
}

.search-select,
.search-input,
.search-button {
  height: 50px; /* Altura uniforme para todos los elementos */
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  box-sizing: border-box;
}

.search-select {
  width: 225px;
  padding: 0 10px;
  border: 2px solid #00B4CC;
  color: #0ea094;
  appearance: none;
}

.search-input { 
  width: 600px;/* Expande la caja de texto para ocupar más espacio */
  padding: 0 10px;
  border: 2px solid #00B4CC;
  color: #9DBFAF;
}

.search-button {
  width: 100px;
  background-color: #00B4CC;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}

.search-select, .search-input {
  transition: all 0.3s ease; 
}

.search-select:focus, .search-input:focus {
  border-color: #007B9C; 
  box-shadow: 0 0 10px rgba(0, 123, 156, 0.5); 
}

.search-button {
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #007B9C; 
  transform: scale(1.05); 
}


button.complete, button.delete {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

button.complete {
  background-color: #28a745;
}

button.delete {
  background-color: #dc3545;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  animation: popup-entrance 0.5s ease-out;
}

@keyframes popup-entrance {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

button.complete:hover {
  background-color: #218838; 
  transform: scale(1.05);
}

button.delete:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
